{% load static %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        {{ form.non_field_errors }}
        <div class="col-md-6 mb-3">
            <label class="form-label">Nombre del producto</label>
            {{ form.nombre }}
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label">Descripción</label>
            {{ form.descripcion }}
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label">Stock total</label>
            {{ form.stock_total }}
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label">Stock mínimo</label>
            {{ form.stock_min }}
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label">Precio unitario</label>
            {{ form.precio_unitario }}
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label">Categoría</label>
            {{ form.categoria_producto }}
        </div>
    </div>
    <div class="text-end">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </div>
</form>